#img-member {
  height:100%;
  border-radius:50%;
}

.DataLogin {
  margin-left:-28px;
  height:25px;
  color:rgb(255,255,255);
  text-align:center;
}

@media (min-width: 768px) {
  #logout:hover {
    color:rgb(255,255,255);
    text-decoration:inherit;
  }
}

#logout {
  display:none!important;
}

@media (min-width: 768px) {
  #logout {
    height:50px;
    padding-top:2px;
    font-size:25px;
    color:rgb(153,153,153);
    display:inline!important;
  }
}

/*LAYAR BESAR*/
@media (min-width: 768px) {
  #logo-waki {
    height:50px;
    margin-left:70px;
    margin-right:0px;
  }
}

/*LAYAR KECIL*/
@media (max-width: 768px) {
  #logo-waki {
    height:50px;
    margin-right:50px;
    margin-left:0px;
  }
  .form-group.frm-group-select {
  width:100%;
  display:block;
  }
}

/*LAYAR SUPER KECIL(iponX)*/
@media (max-width: 378px) {
  
  .form-group.frm-group-select {
  width:90%;
  display:block;
  }
  .form-group.frm-group-select{
  width:100%;
  }
}


  .list-selected {
  background:rgba(255,255,255,0.2);
  color:#ffffff;
}
  .form-group.frm-group-select {
   
}

.select-right {
  display:block!important;
}

@media (min-width: 992px) {
  .select-right {
    float:right;
  }
  .form-group.frm-group-select {
  width:49%;
  display:inline-block;}
}

.btn-edithapus-card {
  float:right;
}

@media (max-width: 991px) {
  .table-responsive.table.table-striped.table-indesktop {
    display:none;
  }
}

@media (min-width: 992px) {
  div.card-inmobile {
    display:none;
  }
}

#change-password:hover {
  text-decoration:none;
  color:#ff0000;
}

btn-delete {
}

.modal .form-group.frm-group-select {
  
}

/*@media (min-width: 576px) {
  .modal .form-group.frm-group-select {
    width:380px;
  }
}
*/
.div-CheckboxGroup {
  border:solid 1px rgba(128, 128, 128, 0.32941);
  padding:10px;
  border-radius:3px;
}

.page-link {
  color: #212529 !important;
}

/*.btn-print{
  margin: 20px 0px 5px 0px;
}*/

@media (max-width: 991px) {
  .search-form{
    margin: 5px 0px 5px 0px !important;
  }
  /*.btn-print{
    width: 100%;
  }*/
}

.child-dropdown {
  margin-left:10px;
  display:none !important;
}

.child-dropdown.toggled {
  display:block !important;
}

.nav-tabs .nav-link {
  background-color: #ececec;
  color :#5c5c5c;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  font-style: normal;
  text-decoration: underline;
  font-weight: 500;
}

.nav-tabs{
  max-width: 660px;
  width: 90%;
  margin: 0 auto;
  padding: 0px 20px;
}